.header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}

.header ul {
  display: flex;
  gap: 100px;
}

.header ul li {
  cursor: pointer;
}

.btn {
  padding: 10px;
  border: 0;
  background-color: dodgerblue;
  font-weight: 700;
  color: white;
  border-radius: 10px;
}